.button {
  position: relative;
  overflow: hidden;
  background: transparent;
  border: none;
  cursor: pointer;
}
.button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--secondary);
  bottom: 0;
  left: 50%;
  transition: all 0.5s ease;
  transform: translateX(-50%);
  z-index: 1;
}

.button::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: var(--foreground);
  bottom: 0;
  left: 50%;
  transition: all 0.5s ease;
  transform: translateX(-50%);
  z-index: 2;
}

.button:hover::after {
  width: 100%;
  left: 0;
  transform: translateX(0);
}

.button span {
  display: inline-block;
  position: relative;
}
