@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  cursor: none !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
}

:root {
  --background: #0c0c0c;
  --foreground: #fdfdfd;
  --secondary: #aeaeae;
  --font-montserrat: "Montserrat", sans-serif;
}

a {
  cursor: pointer;
}

.scroll-container {
  overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome aeaeae */
}

.page_container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
.section_container {
  padding: 15rem 10vw 0rem 10vw;
}

.section_container_sml {
  padding: 2rem 10vw;
}
@media screen and (max-width: 48rem) {
  .section_container,
  .section_container_sml {
    padding: 2rem;
  }
}
.section_container_fullw {
  padding: 8rem 0;
}
.nav {
  background: rgba(5, 5, 5, 0.051);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
/*HOME*/
.hero_text {
  color: var(--background);
  line-height: 1;
  text-shadow: -1px -1px 0 var(--foreground), 1px -1px 0 var(--foreground),
    -1px 1px 0 var(--foreground), 1px 1px 0 var(--foreground);
}
.text_scroll_large {
  color: var(--foreground);
  line-height: 1;
}
.page_about_heading {
  font-weight: 600;
  line-height: 140%;
}
.page_about_subHeading {
  color: var(--secondary);
}

.page_course_heading {
  line-height: 120%;
}

.page_course_heading:hover {
  color: var(--secondary);
}

.page_text_small {
  font-weight: 600;
  line-height: 150%;
  font-size: 11px;
}
.page_text_small span {
  font-weight: 300;
}
.page_footer-text-large {
  font-weight: 400;
  line-height: 120%;
  font-size: 4.571rem; /*64px*/
}
.team_member {
  position: relative;
  border: var(--secondary) 0.5px solid;
  border-radius: 10px;
  aspect-ratio: 273 / 362;
  align-content: end;
  width: calc(100vw / 6);
}
@media screen and (max-width: 80rem) {
  .team_member {
    width: calc(100vw / 5);
  }
}
@media screen and (max-width: 48rem) {
  .team_member {
    width: auto;
  }
}

.team_member img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}
.team_details {
  padding: 1rem;
}
.team_details p {
  color: var(--secondary);
}
.team_details span {
  color: var(--foreground);
  font-weight: 600;
}
.review_cover {
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.review_cover::-webkit-scrollbar {
  display: none;
}
.review_card {
  background: var(--background) url("../../public/images/review-bg.png") repeat
    center;
  padding: 2rem 1.5rem;
  aspect-ratio: 290 / 379;
  border-radius: 10px;
  white-space: normal;
  word-wrap: break-word;
  width: calc(24% - 0.8rem) !important;
}

.review_card_image {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}
.review_card_image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog_posts {
  width: 100%;
}
.blog_post {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.blog_post_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.blog_post_detail {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.blog_post:hover .blog_post_detail {
  opacity: 1;
}
.blog_post_heading {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

.projects_container {
  position: relative;
  overflow: hidden;
  aspect-ratio: 900/536;
  border-radius: 10px;
  width: 100%;
  perspective: 1000px;
}
.section_container.project {
  min-height: 100vh;
  overflow: visible;
}

.sticky {
  position: -webkit-sticky; /* Safari support */
  position: sticky;
}

.projects_cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.projects_container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects_container img {
  width: 40%;
  height: auto;
  aspect-ratio: 412/360;
  border-radius: 10px;
  transition: transform 0.1s ease-out;
  object-fit: cover;
  z-index: 2;
  transform-origin: center;
  transition: all 0.3s ease;
}

/*Header Image Wrapper*/
.header_image_wrapper {
  width: 100%;
  height: 100vh;
}
.circle_image_block {
  width: 18rem;
  height: 18rem;
}
.circle_item {
  width: 18rem;
  height: 18rem;
  border-radius: 100%;
  transform: rotate(0deg);
}
.circle_item._01 {
  z-index: 6;
}
.circle_item._02 {
  z-index: 5;
  transform: rotate(-60deg);
}
.circle_item._03 {
  z-index: 4;
  transform: rotate(-120deg);
}
.circle_item._04 {
  z-index: 3;
  transform: rotate(-180deg);
}
.circle_item._05 {
  z-index: 2;
  transform: rotate(-240deg);
}
.circle_item._06 {
  z-index: 1;
  transform: rotate(-300deg);
}
.circle_image_wrapper {
  width: 18rem;
  height: 18rem;
  inset: -100% auto auto;
}
@media screen and (max-width: 48rem) {
  .circle_image_block,
  .circle_item,
  .circle_image_wrapper {
    width: 14rem;
    height: 14rem;
  }
}
.circle_image_item {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}
.circle_image_item._01 {
  z-index: 6;
}
.circle_image_item._02 {
  z-index: 1;
}
.circle_image_item._03 {
  z-index: 2;
}
.circle_image_item._04 {
  z-index: 3;
}
.circle_image_item._05 {
  z-index: 4;
}
.circle_image_item._06 {
  z-index: 5;
}
.image_toggle_block {
  z-index: 10;
  inset: 0%;
}

/* Nav Menu*/
.nav_menu_course {
  transition: transform 0.3s ease;
}

.backgound_nav {
  transition: transform 0.3s ease;
}

.course_button {
  background: transparent;
  display: inline-flex;
}

.page_course_heading::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  background-color: var(--secondary);
  bottom: 0;
  left: 50%;
  transition: all 0.5s ease;
  transform: translateX(-50%);
  z-index: 1;
}

.page_course_heading::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.5px;
  background-color: var(--foreground);
  bottom: 0;
  left: 50%;
  transition: all 0.5s ease;
  transform: translateX(-50%);
  z-index: 2;
}

.page_course_heading:hover::after {
  width: 100%;
}
.page_course_heading:hover .course_button {
  transform: translateX(1rem);
}
.course_button_text_container {
  display: flex;
  flex-direction: column;
  margin-top: -4px;
  line-height: 1.25;
  overflow: hidden;
}

.course_button_text_hover {
  color: var(--secondary);
}

.course_arrow_block {
  width: 1rem;
  height: 1rem;
  display: flex;
  margin-top: 8px;
}
