@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
}

:root {
  --background: #0c0c0c;
  --foreground: #fdfdfd;
  --secondary: #aeaeae;
  --font-montserrat: "Montserrat", sans-serif;
}

a {
  cursor: pointer;
}
.page-container {
  overflow: hidden;
}
.page_container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
.section_container {
  padding: 15rem 10vw 0rem 10vw;
}

.section_container_sml {
  padding: 2rem 10vw;
}
@media screen and (max-width: 48rem) {
  .section_container,
  .section_container_sml {
    padding: 2rem;
  }
}
.section_container_fullw {
  padding: 8rem 0;
}

/*HOME*/
.hero_text {
  color: var(--background);
  line-height: 1;
  text-shadow: -0.5px 0 var(--foreground), 0 0.5px var(--foreground),
    0.5px 0 var(--foreground), 0 -0.5px var(--foreground);
}
.text_scroll_large {
  color: var(--foreground);
  line-height: 1;
}
.page_about_heading {
  font-weight: 600;
  line-height: 130%;
}
.page_about_subHeading {
  color: var(--secondary);
}

.page_course_heading {
  line-height: 120%;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.page_course_heading:hover {
  color: var(--secondary);
  transform: translateX(1rem);
}

.page_course_heading::before,
.page_course_heading::after {
  content: "";
  position: relative;
  opacity: 0;
  display: none;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1); /* Smooth fade-in */
}

.page_course_heading::before {
  content: "→";
  font-size: 1rem;
  margin-right: 0.5rem;
}

.page_course_heading::after {
  content: "←";
  font-size: 1rem;
  margin-left: 0.5rem;
}

.page_course_heading:hover::before,
.page_course_heading:hover::after {
  display: inline-block;
  opacity: 1;
}

.page_text_small {
  font-weight: 600;
  line-height: 150%;
  font-size: 11px;
}
.page_text_small span {
  font-weight: 300;
}
.page_footer-text-large {
  font-weight: 400;
  line-height: 120%;
  font-size: 4.571rem; /*64px*/
}
.team_member {
  position: relative;
  border: var(--secondary) 0.5px solid;
  border-radius: 10px;
  aspect-ratio: 273 / 362;
  align-content: end;
  width: calc(100vw / 6);
}
@media screen and (max-width: 80rem) {
  .team_member {
    width: calc(100vw / 5);
  }
}
@media screen and (max-width: 48rem) {
  .team_member {
    width: auto;
  }
}

.team_member img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}
.team_details {
  padding: 1rem;
}
.team_details p {
  color: var(--secondary);
}
.team_details span {
  color: var(--foreground);
  font-weight: 600;
}
.review_cover {
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.review_cover::-webkit-scrollbar {
  display: none;
}
.review_card {
  background: var(--background) url("../../public/images/review-bg.png") repeat
    center;
  padding: 2rem 1.5rem;
  aspect-ratio: 4 / 3;
  width: 100%;
  border-radius: 10px;
  white-space: normal;
  word-wrap: break-word;
}

.review_card_image {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}
.review_card_image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog_posts {
  width: 100%;
}
.blog_post {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.blog_post_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.blog_post_detail {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.blog_post:hover .blog_post_detail {
  opacity: 1;
}
.blog_post_heading {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

.projects_container {
  position: relative;
  overflow: hidden;
  aspect-ratio: 900/536;
  border-radius: 10px;
  width: 100%;
}

.projects_cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.projects_container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects_container img {
  width: 40%;
  height: calc(width);
  aspect-ratio: 1/1;
  border-radius: 10px;
  transition: transform 0.1s ease-out;
  object-fit: cover;
  z-index: 2;
  transform-origin: center;
}
